# Importation

In [20]:
import pandas as pd
import nltk

# Paramètres

In [21]:
DATA_PATH = './'
filename  = 'sample4stm.csv'
df = pd.read_csv(DATA_PATH + filename)

df.head()

,Unnamed: 0,ego_id,text
0,125,13a96c1df590dc2dbd1e85a16637183f,"16 ecris de francais, 13 a l'oral, 14 en SVT, ..."
1,114,13a96c1df590dc2dbd1e85a16637183f,"""Au vu de ce que les hommes de Rémi Garde prop..."
2,38,13a96c1df590dc2dbd1e85a16637183f,Fastidieux les remerciements avec le journal.....
3,126,13a96c1df590dc2dbd1e85a16637183f,Arbitre de merde mais 3-1 !!!!!!!!!!!!\ncest p...
4,25,81efe2874c7c3fbfc88fce73067dacb9,Bin j'irai bien pas au travail aujourd'hui...\...

# Sélection de colonne

In [22]:
df = df[['text']]

df.head()

                                                text
0  16 ecris de francais, 13 a l'oral, 14 en SVT, ...
1  "Au vu de ce que les hommes de Rémi Garde prop...
2  Fastidieux les remerciements avec le journal.....
3  Arbitre de merde mais 3-1 !!!!!!!!!!!!\ncest p...
4  Bin j'irai bien pas au travail aujourd'hui...\...

# Élimination des cellules vides

In [23]:
df=df.dropna(axis=0, how='any')

df.head()

                                                text
0  16 ecris de francais, 13 a l'oral, 14 en SVT, ...
1  "Au vu de ce que les hommes de Rémi Garde prop...
2  Fastidieux les remerciements avec le journal.....
3  Arbitre de merde mais 3-1 !!!!!!!!!!!!\ncest p...
4  Bin j'irai bien pas au travail aujourd'hui...\...

# Enlèvement de ponctuation

In [24]:
import re

def keep_ascii(a):
    text = ' '.join(re.compile('\w+').findall(a))
    return ''.join([i if ord(i) < 128 else ' ' for i in text])


df['Message_clean'] = df.text.apply( lambda r : keep_ascii(r)  ) 

df.head()

,text,Message_clean
0,"16 ecris de francais, 13 a l'oral, 14 en SVT, ...",16 ecris de francais 13 a l oral 14 en SVT 14 ...
1,"""Au vu de ce que les hommes de Rémi Garde prop...",Au vu de ce que les hommes de R mi Garde propo...
2,Fastidieux les remerciements avec le journal.....,Fastidieux les remerciements avec le journal M...
3,Arbitre de merde mais 3-1 !!!!!!!!!!!!\ncest p...,Arbitre de merde mais 3 1 cest pas finit cest ...
4,Bin j'irai bien pas au travail aujourd'hui...\...,Bin j irai bien pas au travail aujourd hui Ben...

# Tokenisation

In [25]:
from nltk import word_tokenize

# création d'une nouvelle colonne pour stocker les tokens
df['tokens_all'] = df.Message_clean.apply(
   lambda r : word_tokenize(str(r).lower())
)

df.head()

,text,Message_clean,tokens_all
0,"16 ecris de francais, 13 a l'oral, 14 en SVT, ...",16 ecris de francais 13 a l oral 14 en SVT 14 ...,"[16, ecris, de, francais, 13, a, l, oral, 14, ..."
1,"""Au vu de ce que les hommes de Rémi Garde prop...",Au vu de ce que les hommes de R mi Garde propo...,"[au, vu, de, ce, que, les, hommes, de, r, mi, ..."
2,Fastidieux les remerciements avec le journal.....,Fastidieux les remerciements avec le journal M...,"[fastidieux, les, remerciements, avec, le, jou..."
3,Arbitre de merde mais 3-1 !!!!!!!!!!!!\ncest p...,Arbitre de merde mais 3 1 cest pas finit cest ...,"[arbitre, de, merde, mais, 3, 1, cest, pas, fi..."
4,Bin j'irai bien pas au travail aujourd'hui...\...,Bin j irai bien pas au travail aujourd hui Ben...,"[bin, j, irai, bien, pas, au, travail, aujourd..."

# Enlèvement des stopwords

In [26]:
## PENSER À CHANGER LA LANGUE EN FONCTION

from nltk.corpus import stopwords

list_stopwords = stopwords.words('french')

print(list_stopwords)

['au', 'aux', 'avec', 'ce', 'ces', 'dans', 'de', 'des', 'du', 'elle', 'en', 'et', 'eux', 'il', 'je', 'la', 'le', 'leur', 'lui', 'ma', 'mais', 'me', 'même', 'mes', 'moi', 'mon', 'ne', 'nos', 'notre', 'nous', 'on', 'ou', 'par', 'pas', 'pour', 'qu', 'que', 'qui', 'sa', 'se', 'ses', 'son', 'sur', 'ta', 'te', 'tes', 'toi', 'ton', 'tu', 'un', 'une', 'vos', 'votre', 'vous', 'c', 'd', 'j', 'l', 'à', 'm', 'n', 's', 't', 'y', 'été', 'étée', 'étées', 'étés', 'étant', 'étante', 'étants', 'étantes', 'suis', 'es', 'est', 'sommes', 'êtes', 'sont', 'serai', 'seras', 'sera', 'serons', 'serez', 'seront', 'serais', 'serait', 'serions', 'seriez', 'seraient', 'étais', 'était', 'étions', 'étiez', 'étaient', 'fus', 'fut', 'fûmes', 'fûtes', 'furent', 'sois', 'soit', 'soyons', 'soyez', 'soient', 'fusse', 'fusses', 'fût', 'fussions', 'fussiez', 'fussent', 'ayant', 'ayante', 'ayantes', 'ayants', 'eu', 'eue', 'eues', 'eus', 'ai', 'as', 'avons', 'avez', 'ont', 'aurai', 'auras', 'aura', 'aurons', 'aurez', 'auront', 'aurais', 'aurait', 'aurions', 'auriez', 'auraient', 'avais', 'avait', 'avions', 'aviez', 'avaient', 'eut', 'eûmes', 'eûtes', 'eurent', 'aie', 'aies', 'ait', 'ayons', 'ayez', 'aient', 'eusse', 'eusses', 'eût', 'eussions', 'eussiez', 'eussent']

In [27]:
def remove_stopword(tokens):
     return [w for w in tokens if (w not in list_stopwords) & (len(w) > 2) ]

df['tokens'] = df.tokens_all.apply(lambda tks : remove_stopword(tks) )

df.head()

,text,Message_clean,tokens_all,tokens
0,"16 ecris de francais, 13 a l'oral, 14 en SVT, ...",16 ecris de francais 13 a l oral 14 en SVT 14 ...,"[16, ecris, de, francais, 13, a, l, oral, 14, ...","[ecris, francais, oral, svt, tpe, fais, hum, g..."
1,"""Au vu de ce que les hommes de Rémi Garde prop...",Au vu de ce que les hommes de R mi Garde propo...,"[au, vu, de, ce, que, les, hommes, de, r, mi, ...","[les, hommes, garde, proposent, depuis, but, s..."
2,Fastidieux les remerciements avec le journal.....,Fastidieux les remerciements avec le journal M...,"[fastidieux, les, remerciements, avec, le, jou...","[fastidieux, les, remerciements, journal, merc..."
3,Arbitre de merde mais 3-1 !!!!!!!!!!!!\ncest p...,Arbitre de merde mais 3 1 cest pas finit cest ...,"[arbitre, de, merde, mais, 3, 1, cest, pas, fi...","[arbitre, merde, cest, finit, cest, finit, hug..."
4,Bin j'irai bien pas au travail aujourd'hui...\...,Bin j irai bien pas au travail aujourd hui Ben...,"[bin, j, irai, bien, pas, au, travail, aujourd...","[bin, irai, bien, travail, aujourd, hui, ben, ..."

# Téléchargement du JDD nettoyé sous format CSV

In [52]:
df.to_csv('sample4stm_clean.csv', sep=',', encoding='utf-8')